* {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    padding-top: 90px;
}

p {
    font-size: 20px;
    line-height: 2em;  
    color: #5a5a5a;
    font-weight: 200px;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 100px;
    color: #5a5a5a;
    /* color: rgb(90, 90, 90); */
}

h1 span {
    color: #777;
}

h3, h4 {
    padding-bottom: 10px;
}

nav {
    background-color: rgba(255, 255, 255, 0.95);
    border: white solid 1px;
    height: 90px;
}

.nav-img {
    height: 100%;
    width: 20%;
    margin: 0;
    display: inline-block;
    padding: 15px;
}

.logo {
    height: 100%;
}

.menu {
    height: 100%;
    width: 70%;
    float: right;
}

.menu ul {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    text-align: right;
}

.menu ul li {
    /* margin-left: 10px; */
    padding: 15px;
}

#home-btn:hover {
    background-color: rgba(0, 0, 0, 0);
}

.menu ul li:hover {
    background-color: #ccc;
}

.book-now {
    font-weight: bold;
    color: #ff7322;
    background-color: white;
    border: solid #ff7322 2px;
    padding: 15px;
}

.book-now:hover {
    background-color: rgb(255, 241, 232);
}

#button-li:hover {
    background-color: rgba(0, 0, 0, 0);
}

.hero {
    background: url('1-3.jpg') no-repeat center;
    background-size: cover;
    height: 400px;
    text-align: center;
    color: white;
}

.text-design {
    text-align: justify;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;  
}

.lead-p p {
    color: #5a5a5a;
    line-height: 37px;
    font-weight:  200px;
}

.options div p {
    text-align: center;
    color: #5a5a5a;
}

.options img {
    width: 100%;
    padding: 10px;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 50px;  
}

.home-pic img{
    width: 100%;
}

.home-pics {
    margin-top: 5%;
    padding-bottom: 2%;
    background-color: #f3f5f7;
    padding-right: 5%;
    padding-left: 5%;
}

.home-pics img:hover {
    filter: brightness(110%);
} 

.home-pic {
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
}

.home-pics p {
    color: white;
    text-shadow: 1px 1px #5a5a5a;
    position: absolute;
    bottom: 30%;
    left: 15%;
    right: 15%;
    font-weight: bold;
    font-size: 1.5em;
}

.footer {
    margin-top: 40px;;
    text-align: center;
}

.footer-text {
    background-color: #e7e7e7;
    padding-top: 30px;
}

.footer-text a {
    color: #ff7322;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
}

.footer-logo img {
    height: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.map-button p {
    font-size: 25px;
    color: #ff7322;
    font-weight: 700;
}

.map-button {
    background-color: white;
    border: solid #ff7322 2px;
}

.map-button:hover {
    background-color: rgb(255, 241, 232);
    border: solid 2px #ccc;
}

.button-col {
    text-align: center;    
}

#map {
    background-color: gray;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 50px;
    /* width:400px;
    height:400px */
}

.map-row {
    height: 50px;
}

#review {
    margin-left: 10%;
    margin-right: 10%;
    border: solid green 1px;
    box-shadow: 0px 5px 4px gray;
}

.trip-adv {
    margin-top: 20px;
}

.trip-adv div {
    text-align: center;
}